{% load staticfiles %}
{% include 'static_pages/navbar.html' %}
<head>
    <title>HikeIt</title>
</head>
<link href="{% static "static_pages/css/frontpage.css" %}" rel="stylesheet">
    <!-- Header -->

    <div class="intro-header" style="background: url({% static "static_pages/images/intro-bg.jpg" %}) no-repeat center center;background-size: cover;">
        <div class="container">
            {% include 'static_pages/message.html' %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Make hiking personal.</h1>
                        <h3>The serenity of nature is just a search away.</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Visit us on your mobile device</h2>
                    <p class="lead">Our website is mobile ready, so no matter where you are finding a trail near you is a breeze.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "static_pages/images/android.jpg" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Functionality you can use</h2>
                    <p class="lead">Instead of searching all over the internet for hiking trails and maps, we try to provide a centralized repository of information so you can stop the hunting and focus on the hiking.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static "static_pages/images/desktop.jpg" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Wearable support coming soon!</h2>
                    <p class="lead">Our developers are working quickly to make apps for various wearable devices, so that you can track your progress without having to interrupt your hike.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "static_pages/images/wearables.jpg" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/tos/">Terms of Service</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/privacy/">Privacy Policy</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="mailto:support@hikeit.me">Contact Us</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; NoHowDezign 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

{% if request.session.redirect_pebble %}
<script>
    window.location = '/pebble/configure/#loginDone';
</script>
{% endif %}
