{% load staticfiles %}
{% load pebble_variables %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel='stylesheet' type='text/css' href='{% static "static_pages/css/slate.min.css" %}'>
  <link rel='stylesheet' type='text/css' href='{% static "static_pages/css/pebble-config-style.css" %}'>
</head>
<body>
  <div class='item-container'>
    <h1 class='title'>HikeIt<br>Configuration Page</h1>
  </div>

  <center>
  <div class='item-container'>
    <div class='item-container-content'>
      <div class='item'>
        Please sign in to your HikeIt account below.
      </div>
      <div class='item-container-footer'>
          Don't have an account? Register <a href='https://hikeit.me/login/'>here</a>.
      </div>
    </div>
  </div>
  </center>

  <div class='item-container'>
      <div class="item-container-content">
        <label class="item">
        <div class="item-input-wrapper">
            <input id="username" type="text" class="item-input" name="username" placeholder="Username">
        </div>
        <div class="item-input-wrapper">
            <input id="password" type="password" class="item-input" name="password" placeholder="Password">
        </div>
        </label>
    </div>
  </div>

  <div class='item-container'>
    <div class='button-container'>
      <input id='submitButton' type='button' class='item-button' value='LOGIN'>
    </div>
  </div>
  
  <center>
  <div class='item-container'>
      <div class='item'>
          <b>OR</b>
      </div>
  </div>
  </center>
  
  <div class='item-container'>
    <div class='button-container'>
      <button onclick="window.location = '/pebble/facebook/login/';" id='facebookButton' type='button' class='item-button facebook-button'>LOGIN WITH FACEBOOK</button>
    </div>
  </div>

  <script>
	  function submitHandler() {
		  var $submitButton = $('#submitButton');
		  {% if request.session.redirect_pebble %}
		  {% reset_facebook_var request %}
		  if(window.location.hash) {
			var return_to = getQueryParam('return_to', 'pebblejs://close#');
			loginPebble(function(options) {
				  document.location = return_to + encodeURIComponent(JSON.stringify(options));
				});
		  }
		  {% endif %}

		  $submitButton.on('click', function() {
			console.log('Submit');
			var return_to = getQueryParam('return_to', 'pebblejs://close#');
			getAndStoreConfigData(function(options) {
				  document.location = return_to + encodeURIComponent(JSON.stringify(options));
				});
		  });
		}
  </script>
  <script src='{% static "static_pages/js/slate.min.js" %}'></script>
  <script src='{% static "static_pages/js/pebble-config-main.js" %}'></script>
</body>
</html>
