<!DOCTYPE html>
<html>
  <head>
    <title>HikeIt</title>
  </head>
  <body>
    {% include 'static_pages/navbar.html' %}
    <br><br><br><br>
    {% include 'static_pages/message.html' %}
    <div style="margin-left: 200px; margin-right: 200px">
      <h1>Privacy Policy</h1>
      <h3>Privacy Policy</h3>
      <p>This privacy policy discloses the privacy practices for hikeit.me, and it applies solely to information collected by this web site. It will notify you of the following:</p>
      <h4>1. What personally identifiable information is collected from you, how it is used, and with whom it may be shared. 2. What choices are available to you regarding the use of your data. 3. The security procedures in place to protect the misuse of your information. 4. How you can correct any inaccuracies in the information.</h4>
      <p><b> Information Collection, Use, and Sharing</b></p>
      <p>We (meaning the operators and staff of HikeIt, or HikeIt as a cohesive whole) are the sole owners of information collected on this site. We will have access to any data uploaded to or logged by the site, including any trails submitted or liked, pictures submitted or liked, your IP address and some browser information, and so on. This information will remain exclusively with HikeIt; it will not be rented out, sold, or given away to any third party, except where it is necessary to provide continued service to you.</p>
      <p>HikeIt has not received any secret court orders and we are not under a gag order.</p>
      <p>We reserve the right to use any and all data collected in order to improve the service. Wherever possible, collected data will be anonymized.</p>
      <p>We reserve the right to contact you via email for support reasons, to notify you of any privacy policy changes, or for any other reason deemed necessary.</p>
      <p><b> Your Access to and Control over Information</b></p>
      <p>You may opt to delete your account at any time. You can do so by contacting us via any method listed on our website. You may also ask to see what identifying data we have about you, if any. You may ask us to change or correct any data we have about you. You may express concerns about our use of your data freely. You may also ask us to delete any and all data we have about you, in which case it will be securely deleted as soon as possible.</p>
      <p><b> Security</b></p>
      <p>We take all possible precautions to protect your information. Your security is protected by HTTPS at all times while browsing the site. Your data is also stored in the most secure manner possible; all critical information is encrypted and hashed, the servers where information is stored are kept in a secure environment, and your data can only be used by employees to improve the service.</p>
      <p><b> Registration</b></p>
      <p>In order to use HikeIt, you must first register. During registration, you will be required to provide an email address and other information. This information is used to activate your account and contact you where necessary. You may optionally provide demographical information if such an option exists, but it is not required.</p>
      <p><b> Updates</b></p>
      <p>We reserve the right to change our privacy policy at any time, and we will make every effort to notify you in that case.</p>
      <p> IF YOU FEEL THAT WE ARE NOT ABIDING BY THIS PRIVACY POLICY, CONTACT US IMMEDIATELY VIA ONE OF THE METHODS LISTED ON HIKEIT.ME</p>
    </div>
  </body>
</html>
