<!DOCTYPE html>
<html>
    <head>
        <title>HikeIt</title>
    </head>

    <body>
      {% include 'static_pages/navbar.html' %}
      <br><br><br><br>
      {% include 'static_pages/message.html' %}
      <div style="margin-left: 200px; margin-right: 200px">
		  <h1>Terms of Service</h1>
		  <h3>Terms of Service (ToS)</h3>
          <br>
          <p>Please refer to HikeIt's privacy policy for the majority of our terms of service.</p>
          <br>
          <p>HikeIt would like to make one addendum to our privacy policy here in the ToS; "scraping", "slurping", "sniffing", or otherwise acquiring data from HikeIt in any way outside of HikeIt's intended use case is strictly prohibited. Anybody found to be violating this rule will have their HikeIt account terminated, all their data scrubbed, and will be blocked from accessing HikeIt's product(s).</p>
          <br>
          <p>The only time that any sort of data acquisition via unusual means will be permitted is if and only if a developer Application Programming Interface (API) is implemented, and in such a case, only registered and approved developers will be able to access the data provided by the API, and only the data provided by the API.</p>
          <br>
          <p>If you do not agree to the ToS or the Privacy Policy, do not use our services.</p>
    </div>
    </body>
</html>
