{% load staticfiles %}
{% load widget_tweaks %}
<div id="user_nav" style="overflow:hidden">
{% include 'static_pages/navbar.html' %}
<head>
    <title>HikeIt</title>
    <link href="{% static "static_pages/css/socialicons.css" %}" rel="stylesheet">
    <link href="{% static "static_pages/css/font-awesome.min.css" %}" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script>
</head>
<br><br><br><br>
{% include 'static_pages/message.html' %}
  {% if request.user.is_authenticated %}
    Welcome, {{ request.user.first_name }}!
  {% else %}
    <div class="row">
    <div class="col-md-3"></div>
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div class="form-group col-md-3">
            {% render_field form.username class+="form-control input-group-lg reg_name" placeholder="Username" %}
            {% render_field form.password class+="form-control input-group-lg reg_name" placeholder="Password" %}

            <input type="submit" class="form-control input-group-lg reg_name" type="submit" name="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
            <br>
            <center><p><a href="{% url 'password_reset_recover' %}">Lost password?</a></p></center>
        </div>
    </form>
    <form id="registration_form" action="/user/new/" method="post">
        {% csrf_token %}
            <div class="form-group col-md-3" style="margin-top: -15px">
                <input id="name" class="form-control input-group-lg reg_name" type="text" name="name" placeholder="Name">
                <input id="username" class="form-control input-group-lg reg_name" type="text" name="username" placeholder="Userame">
                <input id="email" class="form-control input-group-lg reg_name" type="text" name="email" placeholder="Email">
                <input id="password" class="form-control input-group-lg reg_name" type="password" name="password" placeholder="Password">
                <input id="password_confirm" class="form-control input-group-lg reg_name" type="password" name="password_confirm" placeholder="Confirm">
                <input id="submit" class="form-control input-group-lg reg_name" type="submit" name="submit" value="Register">
                <br><br><br><br>
            </div>
    </form>
        </div>
            <center>
                <a class="btn btn-social btn-facebook" href="/login/facebook"><i class="fa fa-facebook"></i> Login with Facebook</a>
            </center>
            <script>
                 $("#registration_form").validate({
           rules: {
               password: { 
                 required: true,
                    minlength: 6,
                    maxlength: 10,

               } , 

                   password_confirm: { 
                    equalTo: "#password",
                     minlength: 6,
                     maxlength: 10
               }


           },
     messages:{
         password: { 
                 required:"the password is required"

               }
     }

       });
            </script>
  {% endif %} 
</div>
