description "{{deployment_name}} [{{mode}}]"
start on runlevel [2345]
stop on runlevel [06]
respawn
respawn limit 10 5
chdir /home/{{deployment_name}}/{{mode}}
env PYTHON_PATH="/home/{{deployment_name}}/{{mode}}/env/"
env DJANGO_SETTINGS_MODULE="{{deployment_name}}.settings.{{ mode }}"
env DJANGO_SECRET_KEY="{{secret_key}}"
env DJANGO_CONFIGURATION="{{mode}}"

env HIKEIT_DB_USER="{{ db_user }}"
env HIKEIT_DB_PASSWORD="{{ db_password }}"
env HIKEIT_HOSTNAME="{{ hikeit_hostname }}"
env HIKEIT_EMAIL_USER="{{ email_user }}"
env HIKEIT_EMAIL_PASS="{{ email_password }}"
env HIKEIT_SECRET_KEY="{{ secret_key }}"

exec /home/{{deployment_name}}/{{mode}}/env/bin/gunicorn {{deployment_name}}.wsgi:application
