{% load staticfiles %}

<link href="{% static "static_pages/css/bootstrap.min.css" %}" rel="stylesheet">

<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4"></div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{ trail.name }}</h3>
        <p>Location: {{ trail.location }}</p>
        <p>Length: {{ length }} miles</p>
        <p>Difficulty: {{ difficulty }}</p>
        <p>Likes: {{ trail.likes }}</p>
        <button id="like" type="button" onclick="gotoLike()" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
	function gotoLike() {
		window.location.href = "/trail/{{ id }}/like";
	}
</script>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static "static_pages/js/bootstrap.min.js" %}"></script>
